@import '../../core/StyleSheets/App.scss';

.custom-size-area {
  width: 100%;
  box-sizing: border-box;

  .custom-size {
    max-width: px(768);
    width: 100%;
    margin: 0 auto;

    .list-pizzas-area {
      widows: 100%;

      .list-pizzas {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: px(16);
        padding: px(16);

        .list-pizza {
          .options-area {
            width: 100%;
            margin: px(8) px(0) px(0);

            .options {
              width: 100%;
              display: flex;
              justify-content: space-between;
              
              .option {
                margin: px(0) px(16) px(8) px(0);
                padding: 10px 20px;
                border-radius: 5px;
                background-color: #CCC;
                @include font-size(16);
                text-transform: uppercase;
                color: #000;
                font-weight: bold;
                cursor: pointer;
                transition: all ease .3s;

                &.active {
                  color: #FFF;
                  background-color: #0eb84b;
                }
              }
            }
          }
        }
      }
    }
  }
}

@include respond-to($desktop) {
  .custom-size-area {
    padding: 0;

    .custom-size {
      .list-pizzas-area {
        .list-pizzas {
          grid-template-columns: 1fr 1fr;
        }
      }

      .options-area {
        .options {
          .option {
            @include font-size(28);
          }
        }
      }
    }
  }
}