$--color-white: #FFF;
$--color-dark: #000;
$__primary: #FAFAFA;
$__secondary: #E9E5E2;
$__tertiary: #0CB24C;
$__quaternary: #FDD704;
$__quinary: #591B10;

// Tipographia
$color-h1: $--color-dark;
$color-h2: $--color-dark;
$color-h3: $--color-dark;
$color-h4: $__quinary;
$color-h5: $--color-dark;
$color-h6: $--color-dark;
$color-p: $--color-dark;

$text-h1: 18;
$text-h2: 16;
$text-h3: 14;
$text-h4: 14;
$text-h5: 14;
$text-h6: 14;
$text-p: 12;
